body {
    font-family: 'Arial', sans-serif;
}

.navbar, .footer {
    background-color: #000;
}

.navbar-brand, .nav-link, .footer {
    color: #cfb53b !important;
}

.nav-link:hover, .navbar-brand:hover {
    color: #e10600 !important;
}

.btn-primary {
    background-color: #e10600;
    border-color: #e10600;
}

.btn-primary:hover {
    background-color: #cf0000;
    border-color: #cf0000;
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem;
    }
}
